*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}
body{
      transition: 0.1s;
      /* transform: rotate(20deg); */
}
.main
{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
}

.container{
      background-color: rgb(57, 211, 134);
      width: 330px;
      height: 140px;
      border-radius: 10px;
      border: 2px solid black;
      
}
#title
{
      text-align: center;
      font-size: 50px;
      color: black;
      height: 40px;
      width: 50%;
      margin-top: 10px;
      margin-left: 80px;
      
      
}
#btn{
      width: 80%;
      padding: 13px;
      /* margin: 100px auto 0; */
      margin-top: 25px;
      margin-left: 35px;
      border-radius: 7px;
      cursor: pointer;
      background-color: rgb(231, 218, 102);
}